// FONTS
$font-thiner: bicycle-thiner;
$font-thin: bicycle-thin;
$font-regular: bicycle-regular;
$font-bold: bicycle-bold;
// FONTS

// COLORS
$black: #515151;

$acid: #edfc8d;


$acid-border-bold: 4px solid $acid;
$acid-border-thin: 2px solid $acid;


// COLORS
