@import "variables";

.input-container {
  width: 255px;

  &__input {
    position: absolute;
    width: 251px;
    padding: 10px 0px;
    z-index: 10;
  }

  &__error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 0px;
    z-index: 9;
    width: 255px;
  }
}
