@font-face {
  font-family: "bicycle-thiner";
  src: url("../../../assets/fonts/Bicyclette-Thin.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/Bicyclette-Thin.woff") format("woff"),
    url("../../../assets/fonts/Bicyclette-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "bicycle-thin";
  src: url("../../../assets/fonts/Bicyclette-Light.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/Bicyclette-Light.woff") format("woff"),
    url("../../../assets/fonts/Bicyclette-Light.ttf") format("truetype");
}

@font-face {
  font-family: "bicycle-regular";
  src: url("../../../assets/fonts/Bicyclette-Regular.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/Bicyclette-Regular.woff") format("woff"),
    url("../../../assets/fonts/Bicyclette-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "bicycle-bold";
  src: url("../../../assets/fonts/Bicyclette-Black.eot")
      format("embedded-opentype"),
    url("../../../assets/fonts/Bicyclette-Black.woff") format("woff"),
    url("../../../assets/fonts/Bicyclette-Black.ttf") format("truetype");
}
