.acid-ddown {
  position: absolute;
  margin-top: 5px;
  max-height: 120px;
  background-color: $black;
  border: $acid-border-thin;
  border-radius: 15px;
  z-index: 11;
  overflow-y: auto;
  scrollbar-width: thin;
//   transition: 0.2s linear;

  &__items {
    font-family: $font-bold;
    font-size: 20px;
    color: $acid;
    text-transform: uppercase;
    text-align: center;
  }

  &__item {
    transition: 0.15s linear;
  }

  &__item:hover {
    background-color: $acid;
    color: $black;
  }
}
