.acid-input-error {
  font-family: $font-bold;
  text-align: center;
  font-size: 15px;
  color: rgb(85, 160, 195);
  width: 100%;
  background-color: $acid;
  border-radius: 15px;
  text-transform: uppercase;
}
