.selected-items {
//   position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: $acid-border-thin;
  font-family: $font-bold;
  text-align: center;
  font-size: 18px;
  background-color: $black;
  border-radius: 15px;
  text-transform: uppercase;
  overflow-x: hidden;
  overflow-y: auto;


  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: $acid-border-thin;
    border-radius: 10px;
    min-height: 30px;
    max-height: 60px;
    background-color: $acid;
    color: $black;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__delete-btn {
    border-radius: 10px;
    margin-left: 5px;
    width: 30px;
    height: 100%;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $black;
      color: $acid;
    }
  }
}
