<section class="tasks-container">
  <article class="tasks-container__content">
    <header class="tasks-container__header">
      <ul class="tasks-header-list nostyle-list">
        <li>
          <button
            #thisBtn
            class="my-btn my-btn--tasks nostyle-btn"
            (click)="asideState == 'show' ? asideState = 'init' : asideState = 'show'; activateBtn(thisBtn)"
          >
            create
          </button>
        </li>
      </ul>
    </header>

    <main class="tasks-container__main"></main>
  </article>

  <aside [@asideTrigger]="'show'" class="tasks-container__aside">
    <ul class="tasks-container__aside-items nostyle-list">
      <li class="tasks-container__aside-item">
        <my-input
          #headerInput
          [placeholder]="'header'"
          [type]="'header'"
        ></my-input>
      </li>
      <li class="tasks-container__aside-item">
        <my-input
          #nameInput
          [placeholder]="'task name'"
          [type]="'name'"
        ></my-input>
      </li>
      <li class="tasks-container__aside-item tasks-container__aside-date">
        <date-input #dateInput></date-input>
      </li>
      <li class="tasks-container__aside-item">
        <ddown-input [type]="'priority'" [placeholder]="'priority'"></ddown-input>
      </li>
      <li class="tasks-container__aside-item">
        <select-input #selectInput></select-input>
      </li>
      <li class="tasks-container__aside-item">
        <ddown-input [type]="'status'" [placeholder]="'status'"></ddown-input>
      </li>
    </ul>

    <button
      class="tasks-container__aside-btn my-btn my-btn--tasks nostyle-btn"
      (click)="save()"
    >
      save
    </button>
  </aside>
</section>
